@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'reset';

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  color: $main-color;
  line-height: 1;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

a {
  display: inline-block;
  color: $default-color;
  font-family: $mainFont;
}

p {
  font-weight: 400;
  line-height: 1.29;
}

button {
  font-family: $mainFont;
}

.container {
  max-width: 1670px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-bigger {
  max-width: 1950px;
  margin: 0 auto; 
  padding: 0 140px;
}

.second-header {
  font-size: $h2FontSize;
  letter-spacing: -1.28px;
  line-height: 1.2;
  font-weight: 700;
}

.third-header {
  font-size: 56px;
  font-weight: 700;
  color: $main-color;
  line-height: 1;
  letter-spacing: 0;

  @media (max-width: 767.98px) {
    font-size: 36px;
  }
}

.fourth-header {
  font-size: 28px;
  line-height: 1.34;
  font-weight: 700;
  color: $main-color;
}

.first-text {
  font-size: 30px;
  font-weight: 400;
  color: $main-color;
  line-height: 1.44;

  @media (max-width: 1299.98px) {
    font-size: 20px;
  }
}

.second-text {
  font-size: 20px;
  font-weight: 400;
  color: $main-color;
  line-height: 1.29;
}

.info-text{
  font-size: 24px;
  color: #7E7E7E;
  line-height: 1.4;
  letter-spacing: 0px;
}

.default-btn {
  background-color: $site-color;
  font-size: $mainFontSize;
  color: $default-color;
  letter-spacing: .6px !important;
  border-radius: $defaultRadiusSmall;
  cursor: pointer;
  letter-spacing: 1.3px;
  font-weight: 700;

  @include padding-y(15px, 15px);
  @include padding-x(12px);
}

.default-second-btn {
  position: relative;
  background-color: $main-color;
  font-size: $mainFontSize;
  color: $default-color;
  letter-spacing: .6px;
  border-radius: $defaultRadiusSmall;
  cursor: pointer;
  text-align: center;

  max-width: 380px;
  width: 100%;
  @include padding-y(15px);
  @include padding-x(45px); 
}

html[dir="ltr"] {

  .default-second-btn {
    .arrow-left {
      left: unset;
      right: 17px;
      transform: rotate(180deg);
    }
  }

  .default-arrow-btn {
    @include padding-x(23px, 42px);
    img {
      position: absolute;
      top: 16px;
      right: unset;
      left: 16px;
    }
  }

  .arrow-right {
    transform: rotate(0);
  }

}


.arrow-left {
  position: absolute;
  top: 22px;
  left: 17px;
}

.arrow-right {
  transform: rotate(180deg);
}

.default-arrow-btn {
  height: 46px;
  position: relative;
  background-color: $site-color;
  font-size: $mainFontSize;
  color: $default-color;
  letter-spacing: .6px !important;
  border-radius: $defaultRadiusSmall;
  cursor: pointer;
  letter-spacing: 1.3px;
  font-weight: 400;

  @include padding-y(8px, 10px);
  @include padding-x(42px, 23px);

  img {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

.default-btn-plus {
  position: relative;
  bottom: -20px;
  left: -20px;
  width: 161px;
  height: 60px;
  padding: 0 5px;
  align-self: flex-end;
  font-size: 22px;
  font-weight: 700;
  color: $main-color;
  background: #FFC44D;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 30px;

  img {
    margin-left: 5px;
  }
}
